html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1366px;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

.el-breadcrumb {
    margin-bottom: 18px;
}

/* .el-table {
    font-size: 15px;
} */

.textarea-placeholder-multiline::placeholder {
    white-space: pre-wrap;
}

/* 覆盖 v-md-editor 编辑区的基础文字字体大小

.v-md-editor-preview p,
.v-md-editor-preview span,
.v-md-editor-preview {
  font-size: 24px; /* 设置你想要的字体大小 *//*
} */